* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: var(--background_page);
  font-family: var(--font_text);
}

:root {
  --title: #d1d136;
  --subtitle: #ff8fa6;
  --hover: #aca22e;
  --background_page: #f9f4f4;
  --font_title: "Gorditas", serif;
  --font_subtitle: "Averia Sans Libre", serif;
  --font_text: "Source Sans 3", serif;
}
