.header {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.header__container {
  margin: 30px 0 0 50px;
  display: flex;
  align-items: baseline;
}

.header__container-title {
  width: 390px;
  text-align: right;
  margin-right: 50px;
}

.header__title {
  font-family: var(--font_title);
  color: var(--title);
  font-size: 65px;
}

.header__paragraph-title {
  font-family: var(--font_subtitle);
  color: black;
  font-size: 14px;
}

.header__nav {
  width: 500px;
}

.header__ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header__link {
  font-family: var(--font_subtitle);
  font-size: 20px;
}

.header__container-welcome {
  max-width: 570px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 80px;
}

.header__subtitle {
  font-family: var(--font_subtitle);
  color: var(--subtitle);
  font-size: 65px;
}

.header__paragraph {
  font-family: var(--font_text);
  font-size: 20px;
  width: 100%;
  text-align: justify;
  margin: 30px 0;
}

.header__button {
  font-family: var(--font_subtitle);
  border-radius: 20px;
  width: 150px;
  height: 40px;
  color: white;
  background-color: var(--subtitle);
  border: none;
}

.header__link-profile {
  color: white;
}

.header__background {
  height: 800px;
  position: absolute;
  top: 0;
  left: 70%;
}

.header__pato {
  z-index: 1;
  width: 600px;
  position: absolute;
  bottom: 0;
  left: 30%;
}
